/**
defined inline > #id selector > class selector > element selector
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #AA7700;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: #FFFFFF;
  text-decoration: overline;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid #DDDDDD;
}

.main-nav li {
  padding: 0.5%;
}

.nav a:hover {
  background-color: #AA7700;
}

.main-header {
  background-color: #668800;
  background-size: cover;
  padding-bottom: 30px;
}

.myname {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: fantasy;
  font-weight: normal;
  color: #EEFFBB;
}

.motto {
  text-align: center;
  margin: 0;
  font-size: 1;
  font-family: fantasy;
  font-weight: normal;
  color: #DDAA00;
}

.content-section {
  margin: 5em;
}

.container {
  max-width: 3000px;
  margin: 0 3em 1em 3em;
  padding: 0 1em;
}

.section-header {
  font-family: monospace;
  font-weight: normal;
  font-size: 2.5em;
}

.main-footer {
  background-color: #EEFFBB;
  padding: 0;
  margin: 0;
}

.main-footer-myname {
  color: #227700;
  font-size: 2em;
  text-align: justify;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.fotter-nav li {
  padding: 0 .5em;
}

.footer-nav a:hover {
  background-color: #DDFF77;
}

.btn {
  color: #FFFFFF;
  border: 1.5px solid #888800;
  border-radius: 0;
  background-color: #DDDDDD;
  width: 25px;
  height: 25px;
  font-size: .3em;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  background-color: #EEFFBB;
  color: #55AA00;
  border: 1.5px solid #227700;
}

.love-section-header {
  text-align: center;
  margin-bottom: .5em;
}

.love-container{
  text-align: center;
  margin: .5em;
}

.lovelist-row  {
  margin: 0;
}

.lovelist-row:last-child {
  border-bottom: none;
}

.livelist-items-name {
  display: inline;
  padding: 0;
  color: #880000;
  font-weight: bold;
  width: 20%;
}

.livelist-items-memo {
  width: 50%;
}

.livelist-items-btn {
  max-width: 10%;
}

.lovelist-row span {
  border-bottom: 1px solid #888888;
  display: inline-block;
  padding-bottom: .5em;
  margin-bottom: .5em;
}
