/**
defined inline > #id selector > class selector > element selector
*/

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #AA7700;
}

html, body {
  margin: 0;
  padding: 0;
}


.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: #FFFFFF;
  text-decoration: overline;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid #DDDDDD;
}

.main-nav li {
  padding: 0.5%;
}

.nav a:hover {
  background-color: #AA7700;
}

.main-header {
  background-color: #668800;
  background-size: cover;
  padding-bottom: 30px;
}

.myname {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: fantasy;
  font-weight: normal;
  color: #EEFFBB;
}

.motto {
  text-align: center;
  margin: 0;
  font-size: 1;
  font-family: fantasy;
  font-weight: normal;
  color: #DDAA00;
}

.content-section {
  margin: 0;
}

.container {
  max-width: 3000px;
  margin: 0 auto;
  padding: 0 1em;
}

.section-header {
  font-family: monospace;
  font-weight: normal;
  font-size: 2.5em;
}

.main-footer {
  background-color: #EEFFBB;
  padding: 0;
  margin: 0;
}

.main-footer-myname {
  color: #227700;
  font-size: 2em;
  text-align: justify;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.fotter-nav li {
  padding: 0 .5em;
}

.footer-nav a:hover {
  background-color: #DDFF77;
}
